
{% load static %}


<div class="footer">

    <p id="contact-footer" class="title squinched-cooper-footer">千客万来</p>

    <p class="subtitle wavy-gravy">
        <span class="wavy-character" style="animation-delay: 0ms;">O</span>
        <span class="wavy-character" style="animation-delay: -100ms;">v</span>
        <span class="wavy-character" style="animation-delay: -200ms;">e</span>
        <span class="wavy-character" style="animation-delay: -300ms;">r</span>
        <span class="wavy-character" style="animation-delay: -400ms;">p</span>
        <span class="wavy-character" style="animation-delay: -500ms;">a</span>
        <span class="wavy-character" style="animation-delay: -600ms;">y</span>
        <span class="wavy-character" style="animation-delay: -700ms;">m</span>
        <span class="wavy-character" style="animation-delay: -800ms;">e</span>
        <span class="wavy-character" style="animation-delay: -900ms;">n</span>
        <span class="wavy-character" style="animation-delay: -1000ms;">t</span>
        <span class="wavy-character" style="animation-delay: -1100ms;"> </span>
        <span class="wavy-character" style="animation-delay: -1200ms;">A</span>
        <span class="wavy-character" style="animation-delay: -1300ms;">c</span>
        <span class="wavy-character" style="animation-delay: -1400ms;">c</span>
        <span class="wavy-character" style="animation-delay: -1500ms;">e</span>
        <span class="wavy-character" style="animation-delay: -1600ms;">p</span>
        <span class="wavy-character" style="animation-delay: -1700ms;">t</span>
        <span class="wavy-character" style="animation-delay: -1800ms;">e</span>
        <span class="wavy-character" style="animation-delay: -1900ms;">d</span>
        <span class="wavy-character" style="animation-delay: -2000ms;">!</span>
        <span class="wavy-character" style="animation-delay: -2000ms;">!</span>
    </p>

    <p class="links">
        <a href="https://www.instagram.com/iambigdata/" target="_blank">Instagram</a>
        <!-- <a href="mailto:hello@barparttime.com" target="_blank">Contact</a> -->
        <!-- <a href="/pages/terms-and-privacy">Terms & Privacy</a> -->
        <a href="/terms-and-privacy">特定商取引法に基づく表記</a>
        <span>©2024</span>
    </p>
</div>