
{% extends 'base.html' %}
{% load static %}

{% block body_content %}

<header class="page-header wrapper">
    <nav>
        <ul class="main-nav">
            <li><a class="header-link" href="/">Home</a></li>
            <li><a class="header-link" href="/store">Shop</a></li>
            <li><a class="header-link" href="/contact">Club Wakabayashi</a></li>
            <li><a class="header-link" href="/store">Big Data Radio</a></li>
            <li><a class="header-link" href="{% url 'cart' %}">BAG {{ cart_count }}</a></li>
        </ul>
    </nav>
</header>

<main>
    <div class="top-spacer"></div>
    {% block content %}
    {% endblock %}
</main>

<footer>
    <!-- Marquee -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="{% static 'js/jquery.marquee.js' %}" type="text/javascript"></script>
    <script>$('.upper').marquee({ direction: 'left', duration: 56000, delayBeforeStart: 0, duplicated: true, startVisible: true, });</script>
    <script>$('.middle').marquee({ direction: 'left', duration: 60000, delayBeforeStart: 0, duplicated: true, startVisible: true, });</script>
    <script>$('.lower').marquee({ direction: 'left', duration: 52000, delayBeforeStart: 0, duplicated: true, startVisible: true, });</script>
</footer>

{% endblock %}